<!DOCTYPE html>
<html lang="zh" dir="auto" style="background-color: #FAF8F1;">
    <header>
        <h1>
            <a style="color: #111111; font-size: 64px; font-style: oblique">Our Wedding Photos</a>
            <a style="color: #FF0000; font-size: 64px; font-style: oblique">❤</a>
            </br>
            <a style="color: #FF0000; font-size: 48px">❤ Chris & Amy ❤</a>
        </h1>
    </header>
    <br/>
    <body class="list" id="buttons">
        <main class="main">
            <div class="buttons" align="center">
                <a class="button" href="/shanghai" rel="noopener" title="shanghai" >
                    <span class="button-inner" style="font-size:32px; padding: 10px">
                        上海 🇨🇳
                    </span>
                </a>
                <a class="button" href="/chengdu" rel="noopener" title="chengdu" >
                    <span class="button-inner" style="font-size:32px; padding: 10px">
                        成都 🇨🇳
                    </span>
                </a>
                <a class="button" href="/australia" rel="noopener" title="australia" >
                    <span class="button-inner" style="font-size:32px; padding: 10px">
                        澳洲 🇦🇺
                    </span>
                </a>
            </div>
            <style>
                /* 添加样式以居中地图 */
                .map-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto; /* 使容器占满整个视口高度 */
                }
                iframe {
                    border: 0; /* 去掉边框 */
                }
            </style>
            </head>


        </main>
        <br>
    </body>