{{ $id := .Get "id" | default (.Get 0) }}
{{ $start := .Get "start" | default 0 }}
{{ $title := .Get "title" | default "YouTube Video" }}
<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ $id }}?vq=hd1080&start={{ $start }}"
            style="position: absolute; top: 0; left: 0; width: 150%; height: 150%; border:0;"
            allowfullscreen=""
            title="{{ $title }}">

    </iframe>
</div>

